.margen-listas{
    margin-bottom: 20px;
}
.tamano-texto-cuerpo-lista{
    font-size: 13px;
    font-weight: 500;
}
.tamano-texto-cuerpo-boton{
    font-size: 15px;
    font-weight: 500;
    margin: 5px;
}

/* No tiene Permisos de hoja */
.centrar-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: 40px;
    font-weight: bold;
}
.tamano-texto{
    font-size: 30px;
}
/* No tiene Permisos de hoja */

/*Tabla Modelos*/
.modelosInsumosModelos-tabla {
    border-color: #ed7d31;
    text-align: center;
}
.modelosInsumosModelos-tabla > thead {
    background-color: #ed7d31;
    border-color: #ed7d31
}
.modelosInsumosModelos-tabla > thead > tr > th {
    color: white;
}
.modelosInsumosModelos-tabla > tbody {
    border-color: #ed7d31;
}
.modelosInsumosModelos-tabla > tbody > tr:nth-child(odd) {
    background-color: #fce4d6;
}
.margenes-botones{
    padding: 0px 0px 15px 0px;
}
.familianumeroslista{
    text-align: right;
}
/*Fin Tabla Modelos*/

/*Tabla Insumos*/
.modelosInsumosInsumos-tabla {
    border-color: #ed7d31;
    text-align: center;
}
.modelosInsumosInsumos-tabla > thead {
    background-color: #ed7d31;
    border-color: #ed7d31
}
.modelosInsumosInsumos-tabla > thead > tr > th {
    color: white;
}
.modelosInsumosInsumos-tabla > tbody {
    border-color: #ed7d31;
}
.modelosInsumosInsumos-tabla > tbody > tr:nth-child(odd) {
    background-color: #fce4d6;
}
.margenes-botones{
    padding: 0px 0px 15px 0px;
}
.familianumeroslista{
    text-align: right;
}
/*Fin Tabla Insumos*/